.footer {
    background-color: #f0f0f0;
    padding: 2rem;
    margin-top: 4rem;
    border-top: 1px solid #ccc;
}

.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem
}

.storeAddress, .contactInfo {
    margin: 10px 0;
    font-size: 14px;
    color: #555;
    text-align: center;
}

.storeAddress p, .contactInfo p{
    margin: 5px 0;
}

.socialIcons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.socialIcons a {
    color: #333;
    font-size: 1rem;
    transition: color 0.3s;
}

.socialIcons a:hover {
    color: #007bff;
}

.footerBottom {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.875rem;
    color: #666;
}

@media (min-width: 600px) {
    .footerContent {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .storeAddress, .contactInfo {
        margin: 0 20px;
    }
}